<html>
    <head>
        <title>Primer proyecto de JP en Django</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Un Blog en Django por JP</a></h1>
        </div>

        <div>
            <p>published: 26.04.2019, 12:14</p>
            <h2><a href="">Mi Primer Blog</a></h2>
            <p>Espero con mucha motivación la bienvenida para ir a un Burdel</p>
        </div>

        <div>
            <p>published: 26.04.2019, 12:14</p>
            <h2><a href="">Emilio la lleah</a></h2>
            <p> El Emilio se va a sacar unas chelas algun dia ;)</p>
        </div>
    </body>
</html>